[submodule "3DGS_NOTES"]
	path = 3DGS_NOTES
	url = https://github.com/crd2333/3DGS_NOTES.git
[submodule "Learning-OpenGL"]
	path = Learning-OpenGL
	url = https://github.com/crd2333/Learning-OpenGL.git
[submodule "Learning-Vulkan"]
	path = Learning-Vulkan
	url = https://github.com/crd2333/Learning-Vulkan.git
[submodule "MeshAnythingV2-Notes"]
	path = MeshAnythingV2-Notes
	url = git@github.com:crd2333/MeshAnythingV2-Notes.git
